<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/estilos.css")
	body
	h1 Barras de progreso
	a(href="https://www.youtube.com/watch?v=4BRd3cZDAT4&feature=em-subs_digest") Mira la explicación en video aquí
	.skills
		.circular-progress.html
		.circular-progress.css
		.circular-progress.js
		.circular-progress.php
		.circular-progress.python
		.circular-progress.node